<section class="post-container">
    <a href="/blog/{{id}}">
        <div class="post-header-container">
            <h3 class="post-header">{{name}}</h3>
            <h6 class="author-info">{{author}}</h6>
        </div>
        <div class="post-body-container">
            <p class="post-body">{{body}}</p>
        </div>
    </a>
</section>