<section class="post-container">
    {{#each this}}
    <div class="comment-body-container">
        <p class="post-body">{{comment_text}}</p>
        {{#if user.user_id}}
            <input id="delete-comment" type="submit" name="delete-comment" value="Delete!">
        {{/if}}
    </div>
    <div class="comment-header-container">
        <h6 id="commenterTag" class="author-info">-{{user.username}}, {{format_date creation_date}}</h6>
    </div>
 
    {{/each}}
</section>