<section class="post-container">
    <a href="/dashboard/edit/{{post_id}}">
        <div class="post-header-container">
            <h3 class="post-header">{{title}}</h3>
        </div>
    </a>
</section>