<section class="post-container">
    <div class="post-header-container">
        <h3 class="login-header">Create New Post</h3>
    </div>
    <form id="create-post-form" class="post-body-container">
        <label for="post-title">Title</label>
        <input type="text" id="login-username" name="post-title">

        <label for="content">Content</label>
        <input type="text" id="login-password" name="content">

        <input id="submit" type="submit" value="Create!">
    </form>
</section>

<script src="./js/create-post.js"></script>