{{#if posts.length}}
<section class="post-container">
    <div class="post-header-container">
        <h2 class="post-header">Your Posts</h2>
        {{#each posts as |post|}}
            {{> dashboard-postdetails post}}
        {{/each}}
    </div>
</section>
{{/if}}

<button type="submit" id="submit"><a class="" href="/dashboard/new">+ New Post</a></button>

<script src="/js/create-post.js"></script>