    <section class="post-container">
        <div class="post-header-container">
            <h3 class="login-header">Login</h3>
        </div>
        <form id="login-form" class="post-body-container">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input id="login" type="submit" name="submit" value="Login!">
            <a id="signup-tag" href="/signup">Sign up instead</a>
        </form>
    </section>

<script src="/js/login.js"></script> 