<section class="post-container">
    <div class="post-header-container">
        <h3 class="login-header">Login</h3>
    </div>
    <form class="post-body-container">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <input id="submit" type="submit" value="Login!">
        <a id="signup-tag" href="/signup">Sign up instead</a>
    </form>
</section>
<section class="post-container">
    <div class="post-header-container">
        <h3 class="login-header">Logout</h3>
    </div>
    <form class="post-body-container">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <input id="submit" type="submit" value="Sign Up!">
        <a id="signup-tag" href="/login">login instead</a>
    </form>
</section>

<script src="./js/login.js"></script>