{{#if loggedIn}}
<section class="post-container">
    <div class="post-header-container">
        <h3 class="login-header">Edit Post</h3>
    </div>
    <form id="update-post-form" class="post-body-container">
        <label for="post-title">Title</label>
        <input type="text" id="login-username" name="post-title" value="{{post.title}}">
        <label for="content">Content</label>
        <input type="text" id="login-password" name="content" value="{{post.post_content}}">
        <input id="submit" type="submit" value="Update Post!">
        <input id="submit" type="button" name="delete-post" value="Delete Post!">
    </form>
</section>
{{/if}}

<script defer src="/js/update-post.js"></script>
<script defer src="/js/delete-post.js"></script>