*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --clr-bkgrd: #D5EBD1;
    --clr-bkgrd-dim: #E7F7E4;
    --clr-drk: #260F0F;
    --clr-header-txt: #8D8887;
    --clr-button-bkg: #6a6565;

    --font-family: usual, sans-serif;

    --font-normal: normal;
    --font-italic: italic;

    --font-weight-thin: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;
    --font-weight-extraBold: 800;

    --font-size-xlarge: 3.15rem;
    --font-size-large: 2.8rem;
    --font-size-medium: 2.3rem;
    --font-size-small: 1.75rem;
    --font-size-xsmall: 1.15rem;
    --font-size-xxsmall: .75rem;
}

html {
    width: 100vw;
    color: var(--clr-drk);
    background-color: var(--clr-bkgrd);
}

body {
    background-color: var(--clr-drk);
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-style: var(--font-normal);
    font-weight: var(--font-weight-regular);
}

header {
    background-color: var(--clr-drk);
    color: var(--clr-drk);
    width: auto;
    padding-top: .75rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.nav-container {
    margin-bottom: 1rem;
    font-size: small;
    font-weight: var(--font-weight-thin);
    width: 40vw;
}

nav {
    background-color: var(--clr-drk);
    color: var(--clr-bkgrd);
    font-size: var(--font-size-xsmall);
    display: flex;
    justify-content: space-between;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.title-cont {
    background-color: var(--clr-bkgrd);
    filter: drop-shadow(6px 6px 0 var(--clr-header-txt));
    display: flex;
    width: fit-content;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    border-radius: .5rem;
}
.title {
    /* margin-bottom: 1rem; */
    font-size: var(--font-size-large);
    padding: .35rem 1.25rem;
    width: fit-content;
    /* margin-right: auto; */
}
h1 {
    margin: 0;
    padding: 0;
    border-radius: .5rem;
}

main {
    padding-top: 1.5rem;
    background: var(--clr-bkgrd);
    display: flex;
    justify-content: center;
}
.post-container {
    width: 90vw;
    margin-bottom: .35rem;    
}
.post-header-container {
    background-color: var(--clr-drk);
    color: var(--clr-header-txt);
    display: flex;
}
.post-header {
    margin-left: 1rem;
    margin-right: auto;
    font-size: var(--font-size-xsmall);
    font-weight: 300;
    margin-block: .7rem;
}
.author-info {
    margin: auto 1rem auto 0;
    font-size: var(--font-size-xxsmall);
    font-weight: var(--font-weight-thin);
    letter-spacing: -.02rem;
    display: flex;
    text-align: center;
}
.post-body-container {
    padding: 1rem;
    border: solid 3px var(--clr-drk);
    
}

.login-header {
    margin-left: 1rem;
    margin-right: auto;
    font-size: var(--font-size-xsmall);
    font-weight: 300;
    margin-block: .7rem;
    color: var(--clr-bkgrd);
}
label {
    display: block;
    margin-bottom: .5rem;
    font-weight: var(--font-weight-regular);
}
input {
    width: 100%;
    height: 2rem;
    margin-bottom: .5rem;
    border: none;
}
#submit {
    background-color: var(--clr-button-bkg);
    color: var(--clr-bkgrd-dim);
    border: none;
    border-radius: .25rem;
    font-size: var(--font-size-xsmall);
    display: flex;
    text-align: center;
    justify-content: center;
}
#signup-tag {
    color: var(--clr-header-txt);
}
#signup-tag:hover {
    color: var(--clr-drk);
}
.hide {
    display: none;
}